.navigation-list {
	margin: 0;
	padding: 0;
	list-style: none;
  display: none;
  flex-direction: column;
}


@media (min-width: 768px) {
  .navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 153px);
    grid-template-rows: repeat(1, 56px);
 }
 .navigation-list__item:nth-child(3){
     grid-column: 4 / 5;
 }
}
